<html>
    <head></head>
    <body>
        <%if(type=="admin"){%>
            <% include ../style/admin.css%>
        <%}else{%>
            <% include ../style/user.css%>
        <%}%>
    </body>
</html>