html
    head
        script(src="a.js")
        link(href="a.css",rel="stylesheet")
    body
        div
            input(type="text",value="s撒打算围墙外1",id="ipt1")
            input(type="text",value="s撒打算围墙外2",id="ipt2")
            input(type="text",value="s撒打算围墙外3",id="ipt3")